input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 6px;
  background: red;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23ffffff'/%3E%3Ccircle cx='50' cy='50' r='40' fill='%23e53935'/%3E%3Crect x='20' y='40' width='60' height='20' fill='%23ffffff'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23ffffff'/%3E%3Ccircle cx='50' cy='50' r='40' fill='%23e53935'/%3E%3Crect x='20' y='40' width='60' height='20' fill='%23ffffff'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  cursor: pointer;
}

.volumeWrapper {
  display: inline-flex;
  align-items: center;
  margin: auto;
}

.wordwall {
  color: black;
  background-color: #439373;
  /* background-color: #c55065; */
  /* background-color: #901100; */
  /* background-color: #b56d97; */
  /* background-color: #e57b89; */
  height: auto;
  min-height: 100vh;
  font-weight: bold;
}

/* .wordwall h1,
.wordwall h3,
.wordwall h4 {
  color: black;
} */

.wordwall h4 {
  font-style: italic;
}

.navButton {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.navButton button {
  font-size: 150%;
  font-weight: bold;
  background-color: #7d6592;
  /* background-color: #ffe6d6; */
  background-color: #c55065;
  /* background-color: #00b29b; */
  width: 40vw;
  height: 5vh;
  max-width: 300px;
  max-height: 50px;
  border-radius: 10px;
}

.navButton button a {
  color: black;
  text-decoration: none;
}

.optionsWrapper {
  display: grid;
  margin: auto;
  justify-content: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  width: 80%;
}

.optionsWrapper button {
  margin-top: 2px;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 150px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  height: 50px;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
}

.instruction {
  font-size: 130%;
  display: grid;
  margin-top: 10px;
}

.instructionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  width: 50%;
  padding-bottom: 50px;
  min-width: 250px;
  margin: auto;
}

.note {
  color: black;
}

.pokeName {
  font-family: PokemonSolid;
  -webkit-text-stroke: 1px rgb(54 92 166);
  font-size: 120%;
  color: rgb(228, 184, 11);
}

.noteWrapper {
  min-height: 10vh;
  height: 100%;
}

.volumeWrapper {
  position: absolute;
  top: 0px;
  right: 5px;
}

@media only screen and (min-width: 800px) {
  .pokeName {
    font-size: 200%;
  }
}
