.pokemonCard {
  display: inline-block;
  margin: 10px;
  /* margin: auto; */
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  /* background-color: white; */
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.pokemonCard h3 {
  margin: 0;
  padding: 8px;
  font-size: 36px;
  align-self: end;
  display: grid;
  bottom: 0%;
}

.pokemonImage {
  min-width: 250px;
  min-height: 250px;
  background-size: contain;
  height: auto;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  z-index: 0;
  background-position: center;
  background-size: 110%;
}

.blackBox {
  display: grid;
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 1;
  margin: auto;
  align-content: center;
  border: 0.5px solid rgba(255, 255, 255, 0.7);
}

.blackBox:click {
  background-color: none;
}
