.pokemon-card {
  display: inline-block;
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  min-width: 300px;
  min-height: 300px;
  object-fit: contain;
  height: auto;
}

.pokemon-card h3 {
  margin: 0;
  padding: 8px;
  font-size: 36px;
}
