.scoreTimeBoard {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  gap: 1em;
  /* width: 80vw; */
  margin: auto;
  /* max-width: 300px; */
  height: 15vh;
  min-width: 250px;
  /* width: 25%; */
  aspect-ratio: 1/1;
  background-color: #000000;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  width: 50%;
  min-height: 150px;
  /* margin-left: 25%; */
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.timerWrapper {
  display: grid;
  margin: auto;
  width: fit-content;
  align-self: center;
  gap: 1em;
  height: 100%;
}

.timerDisplay {
  font-family: Timer;
  font-size: 350%;
  font-weight: normal;
  display: grid;
  justify-content: end;
  align-items: center;
  color: rgb(255, 255, 255);
}

.scoreWrapper {
  display: grid;
}

.scoreWrapper div {
  display: none;
}

.buttonWrapper {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.scoreWrapper p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
  text-align: right;
  font-size: 120%;
}

.navButton {
  display: grid;
  /* gap: 1em; */
  align-items: center;
}

.navButton button {
  font-size: 18px;
  font-weight: bold;
  background-color: #ff4a4a;
  color: #ffffff;
  height: 50px;
  /* width: 200px; */
  border-radius: 10px;
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 6px;
  transition: all 200ms ease-in-out;
}

.navButton button:hover {
  background-color: #ff93a3;
  transform: translateY(-2px);
}

.navButton button:active {
  background-color: #a53d4f;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 3px;
  transform: translateY(0);
}

.navButton button a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.gameOverWrapper {
  color: black;
  height: 15vh;
}
.gameOverWrapper h1,
.gameOverWrapper h3 {
  font-size: 120%;
  color: black;
}

.gameOverBtnWrapper {
  display: inline-grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.gameOverBtn {
  font-size: 120%;
  font-weight: bold;
  background-color: #c55065;
  height: 4vh;
  max-height: 50px;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  width: auto;
}

.p {
  margin: 0;
  padding: 0;
}
