* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  color: #444;
}

a {
  /* color: #d91e36; */
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d91e36;
  font-weight: bold;
}

html, body {
  height: 100%;
}
